form {
    width: 30%;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #555;
  }
  input {
    width: 60%;
    border: 1px solid #f1e1e1;
    display: block;
    padding: 5px 10px;
  }
  button {
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  th,
  td {
    height: 50px;
    vertical-align: center;
    border: 1px solid black;
  }
  h2{
      padding-left:20%;
      color:green;
  }